/core/target/
/net/target/
/particle/target/
/physic/target/
/ui/target/

/tests/dev-tests/target/
/tests/test-audio/target/
/tests/test-model-3d/target/
/tests/test-particle/target/
/tests/test-physic/target/
/tests/test-terraria/target/
/tests/test-ui/target/
/tests/test-net/target/
/tests/test-text-editor/target/
/tests/test-window/target/
/tests/test-noise/target/
/tests/test-drift/target/

/tests/test-minecraft-ui/target/
/tests/test-minecraft-open-source-edition/game/target/
/tests/test-minecraft-open-source-edition/modification/target/
/tests/test-minecraft-open-source-edition/launcher/target/
/tests/test-minecraft-open-source-edition/server/target/
